/*
Theme Name: IES
Theme URI:
Author: IES
Author URI:
Description: The theme for Impact Electron Website.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:
Text Domain: IES

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@blue-color-1: #003359;
@blue-color-2: #5bc6e8;

@grey-color-1: #4a4a4a;

@red-color-1: #e00034;
@red-color-2: #b30029;

@primary-color: @blue-color-1;
@secondary-color: @blue-color-2;
@text-color: @grey-color-1;

@screen-i5-landscape-min: 568px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@screen-xlg-min: 1400px;
@screen-xxlg-min: 1650px;

/* WP - IMAGE ALIGNMENT ATTRIBUTE */
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }
/* WP - IMAGE ALIGNMENT ATTRIBUTE */

/* MENU */
@dark: #212121;
@light: #efefef;
@color: #b3e5fc;

.navbar-toggle{
	margin: 2px 0 0;
}

.btn(@left, @top) {
	position: absolute;
	width: 60px;
	height: 60px;
	top: @top;
	left: @left;
	transition-duration: 0.5s;
}

.icon(@height, @width) {
	transition-duration: 0.5s;
	position: absolute;
	height: @height;
	width: @width;
	top: 15px;
	background-color: @dark;
}

.icon-before(@height, @width, @top) {
	transition-duration: 0.5s;
	position: absolute;
	width: @width;
	height: @height;
	background-color: @dark;
	content: "";
	top: @top;
	left: 0;
}

.icon-after(@height, @width, @top) {
	transition-duration: 0.5s;
	position: absolute;
	width: @width;
	height: @height;
	background-color: @dark;
	content: "";
	top: @top;
	left: 0;
}

.menu-btn{
  	transition-duration: 0.5s;
  	width: 30px;
	height: 30px;
	position: relative;

  	.icon-left {
	    .icon(2px, 12px);

	    &:before{
	      .icon-before(2px, 12px, -9px);
	    }

	    &:after{
	      .icon-after(2px, 12px, 9px);
	    }

	    &:hover{
	      cursor: pointer;
	    }
  	}

  	.icon-right {
	    .icon(2px, 12px);
	    left: 12px;

	    &:before{
	      .icon-before(2px, 12px, -9px);
	    }

	    &:after{
	      .icon-after(2px, 12px, 9px);
	    }
  	}

  	&.open {
    	.icon-left {
      		transition-duration: 0.5s;
      		background: transparent;

      		&:before{
        		transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
      		}

      		&:after{
        		transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
      		}
    	}

    	.icon-right {
      		transition-duration: 0.5s;
      		background: transparent;

      		&:before{
        		transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
      		}

      		&:after{
        		transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
      		}
    	}
  	}

  	&:hover {
    	cursor: pointer;
  	}
}
/* MENU */

.clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.text-overflow(){
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@font-face {
	font-family: 'Gotham';
	src: url('./fonts/gotham/Gotham-Medium.eot');
	src: url('./fonts/gotham/Gotham-Medium.woff2') format('woff2'),
	     url('./fonts/gotham/Gotham-Medium.woff') format('woff'),
	     url('./fonts/gotham/Gotham-Medium.ttf') format('truetype'),
	     url('./fonts/gotham/Gotham-Medium.svg#Gotham-Medium') format('svg'),
	     url('./fonts/gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('./fonts/gotham/Gotham-Book.eot');
	src: url('./fonts/gotham/Gotham-Book.woff2') format('woff2'),
	     url('./fonts/gotham/Gotham-Book.woff') format('woff'),
	     url('./fonts/gotham/Gotham-Book.ttf') format('truetype'),
	     url('./fonts/gotham/Gotham-Book.svg#Gotham-Book') format('svg'),
	     url('./fonts/gotham/Gotham-Book.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-Light';
	src: url('./fonts/gotham/Gotham-Light.eot');
	src: url('./fonts/gotham/Gotham-Light.woff2') format('woff2'),
	     url('./fonts/gotham/Gotham-Light.woff') format('woff'),
	     url('./fonts/gotham/Gotham-Light.ttf') format('truetype'),
	     url('./fonts/gotham/Gotham-Light.svg#Gotham-Light') format('svg'),
	     url('./fonts/gotham/Gotham-Light.eot?#iefix') format('embedded-opentype');
	font-weight: lighter;
	font-style: normal;
}

.blink{
	-webkit-animation: blinker 1.5s linear infinite;
	-moz-animation: blinker 1.5s linear infinite;
	animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
	0% { opacity: 0.3; }
	30% { opacity: 1.0; }
	30% { opacity: 1.0; }
	100% { opacity: 0.3; }
}

.container{
	width: 100%;
}

.animate{
    opacity: 0;
}

body{
	-webkit-font-smoothing: antialiased;
	font-family: 'Prompt', sans-serif;
	font-weight: 300;
	font-family: 'Gotham', sans-serif;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 1.5;
	color: @text-color;
}

button,
input,
a{
	cursor: pointer;

	&:hover,
	&:focus,
	&:active{
		outline: none !important;
		box-shadow: none !important;
		text-decoration: none;
	}
}

textarea,
input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

img{
	max-width: 100%;
	max-height: 100%;
}

.row{
    &.narrow{
        margin-left: -7px;
        margin-right: -7px;

        > [class*="col-"]{
            padding-left: 7px;
            padding-right: 7px;
        }
    }

    &.no-gap{
    	margin-left: 0;
        margin-right: 0;

        > [class*="col-"]{
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.btn{
	font-weight: 500;
	font-weight: bold;
	transition-duration: 0.3s;

	&:active{
		outline: none !important;
		box-shadow: none !important;
		text-decoration: none;
	}

	&.btn-rounded{
		border-radius: 50px;
	}

	&.btn-size-200{
		min-width: 200px;
	}

	&.link-btn{
		padding: 0;
		font-size: 17px;
		font-weight: normal;

		.link-icon{
			width: 18px;
			margin-top: -5px;
			display: inline-block;
			vertical-align: middle;
			transition-duration: 0.3s;
		}

		&:hover{
			.link-icon{
				margin-right: 5px;
			}
		}
	}

	&.btn-skelleton{
		transition-duration: 0.1s;
		border: 3px solid @primary-color;
		color: @primary-color;
		background: transparent;
		-moz-box-shadow:    inset 0 0 0 2px transparent !important;
	    -webkit-box-shadow: inset 0 0 0 2px transparent !important;
	   	box-shadow:         inset 0 0 0 2px transparent !important;

		&.btn-red-1{
			border-color: @red-color-1;
			color: @red-color-1;
			background: transparent;
			-moz-box-shadow:    inset 0 0 0 2px transparent !important;
		    -webkit-box-shadow: inset 0 0 0 2px transparent !important;
		   	box-shadow:         inset 0 0 0 2px transparent !important;

			&:hover{
				background: transparent;
				color: @red-color-2;
				// -moz-box-shadow:    inset 0 0 0 1px @red-color-2 !important;
			 //    -webkit-box-shadow: inset 0 0 0 1px @red-color-2 !important;
			 //   	box-shadow:         inset 0 0 0 1px @red-color-2 !important;
			 	border-color: @red-color-2;
			}
		}

		&:hover{
			background: transparent;
			color: @primary-color;
			// -moz-box-shadow:    inset 0 0 0 1px @primary-color !important;
		 //    -webkit-box-shadow: inset 0 0 0 1px @primary-color !important;
		 //   	box-shadow:         inset 0 0 0 1px @primary-color !important;
		 	border-color: @primary-color;
		}
	}

	&.btn-red-1{
		background: @red-color-1;
		border-color: @red-color-1;
		color: #fff;

		&:focus,
		&:hover{
			background: @red-color-2;
			border-color: @red-color-2;
			color: #fff;
		}
	}

	&.extra-big{
		padding: 16px 25px 15px;
		min-width: 230px;
		line-height: 1.2;
		font-size: 18px;
	}

	&.big{
		padding: 15px 25px 12.8px;
		min-width: 200px;
		line-height: 1.2;
		font-size: 15px;
	}

	&.medium{
		padding: 10px 25px;
		font-size: 14px;
	}

	&.size-1{
		min-width: 200px;
	}

	&.size-2{
		min-width: 150px;
	}
}

.modal{
	.modal-dialog{
		.modal-content{
			.modal-header{
				color: @primary-color;

				.modal-title{
					font-weight: bold;
				}

				.logo{
					max-height: 36px;
					margin: -5px 0;
				}

				.close{
					margin-top: 3px;
				}
			}

			.modal-body{
				font-size: 15px;
				padding: 20px 15px;
				min-height: 100px;
			}

			.modal-footer{
				text-align: center;
				border: none;
			}
		}
	}
}

.upload-btn-wrapper{
	.upload-btn{
		display: inline-block;
		vertical-align: middle;
		position: relative;
		overflow: hidden;
		cursor: pointer;
	}

	.input-file{
		position: absolute;
		top: 0;
		left: 0;
		font-size: 100px;
		opacity: 0;
	}

	.filename{
		font-size: 18px;
		margin-left: 16px;
		display: inline-block;
		vertical-align: middle;
	}
}

.more-detail{
	display: inline-block;
	font-weight: normal;
	position: relative;

	&:after{
		content: "\f105";
		font-family: "FontAwesome";
		// color: @red-color-1;
		font-size: 24px;
		line-height: 1.2;
		margin-left: 7px;
		display: inline-block;
		vertical-align: middle;
		margin-top: -4px;
		transition-duration: 0.2s;
	}

	&.fixed{
		margin-left: -6px;

		&:after{
			position: absolute;
			top: 0;
			margin-top: -1px;
			line-height: 22px;
		}

		&:hover{
			&:after{
				margin-left: 12px;
			}
		}
	}

	&:hover{
		&:after{
			margin-left: 12px;
		}
	}
}

.title-1{
	font-size: 24px;
	font-weight: bold;
}

.text-red-1{
	color: @red-color-1;

	&:hover{
		color: @red-color-1;
	}
}

.text-normal{
	font-weight: normal;
}

.text-bold{
	font-weight: bold;
}

.text-primary{
	color: @primary-color;
}

.text-secondary{
	color: @secondary-color;
}

.no-margin-top{
	margin-top: 0 !important;
}

.no-margin-bottom{
	margin-bottom: 0 !important;
}

textarea,
input[type="tel"],
input[type="email"],
input[type="text"]{
	cursor: text;

	&.form-control{
		border-radius: 2px;
		padding: 10px 15px;
		height: auto;
		font-size: 16px;
		border: solid 2px #e0e1dd;
	}

	&:focus{
		outline: none !important;
		box-shadow: none !important;
		border-color: @secondary-color !important;
	}

	&.error{
		border-color: @red-color-1 !important;

		&:focus{
			border-color: @red-color-1 !important;
		}
	}
}

a{
	&:focus{
		outline: none;
		box-shadow: none;
	}

	&.text-primary:active,
	&.text-primary:focus,
	&.text-primary:hover,
	&.text-primary:hover{
		outline: none !important;
		color: @primary-color !important;
	}

	&.text-secondary:active,
	&.text-secondary:focus,
	&.text-secondary:hover,
	&.text-secondary:hover{
		outline: none !important;
		color: @secondary-color !important;
	}

	&.text-red-1:active,
	&.text-red-1:focus,
	&.text-red-1:hover,
	&.text-red-1:hover{
		outline: none !important;
		color: @red-color-1 !important;
	}
}

textarea{
	resize: none;

	&.form-control{
		border-radius: 2px;
		padding: 10px 15px;
		height: auto;
		font-size: 16px;
		border: solid 2px #e0e1dd;
	}
}

section{
	&.content-section{
		padding: 25px 0;

		&.big-top-space{
			padding-top: 60px;
		}
	}

	&.no-top-space{
		margin-top: 0 !important;
	}

	&.no-space{
		padding: 0 !important;
		margin: 0 !important;
	}

	&.top-nav{
		.page-title,
		.section-title{
			margin-bottom: 90px !important;
		}

		.owl-dots,
		.owl-nav{
			position: absolute;
		    top: 0;
		    margin-top: -50px;
		}
	}

	+ section{
		margin-top: 40px;
	}
}

.qtranxs-lang-menu{
	margin-top: 40px;

	> a{
		> img,
		> span{
			display: none;
		}

		&:after{
			content: "\f107";
			font-family: "FontAwesome";
			margin-left: 7px;
		}
	}

	> .dropdown-menu{
		min-width: 100px;
	}

	.qtranxs-lang-menu-item{
		&.active{
			> a{
				background-color: transparent;
				font-weight: 400;
			}
		}

		> a{
			padding-left: 10px !important;

			> img,
			> span{
				display: none;
			}
		}
	}
}

#header-panel{
	margin-top: 0;
	opacity: 0;

	&.shrink{
		> .navbar{
			margin-top: -100px;
		}
	}

	&.normal-logo{
		> .navbar{
			.navbar-brand{
				background-image: url('./images/ies-logo.svg') !important;
	    	}

	    	.menu-btn{
	    		.icon-right,
			  	.icon-left{
			  		background-color: @primary-color !important;

					&:after,
			  		&:before{
			  			background-color: @primary-color !important;
			  		}
			  	}
			}

	    	#menu-main-menu{
				> .menu-item{
					> a{
						color: @primary-color !important;
					}
				}
			}
	    }
	}

	&.ies-blue{
		> .navbar{
			.navbar-brand{
				background-image: url('./images/ies-logo-invert@3x.png');
	    	}

	    	.menu-btn{
	    		.icon-right,
			  	.icon-left{
			  		background-color: #fff;

					&:after,
			  		&:before{
			  			background-color: #fff;
			  		}
			  	}
			}

	    	#menu-main-menu{
				> .menu-item{
					&:hover{
						> a{
							color: #F0E1E4;
						}
					}

					> a{
						color: #fff;
					}
				}
			}
	    }
	}

	&.open{
		background: @primary-color;

		> .navbar{
			background: @primary-color !important;
			min-height: 100vh;

			.navbar-brand{
				background-image: url('./images/ies-logo-invert@3x.png') !important;
	    	}

			.menu-btn{
				.icon-right,
			  	.icon-left {
    				background: transparent !important;

				    &:before{
				      	background-color: #fff !important;
				    }

				    &:after{
				      	background-color: #fff !important;
				    }
			  	}
			}

			#menu-main-menu{
				.menu-item{
					padding-top: 2px;
					padding-bottom: 2px;

					&.active{
						> a{
							font-weight: bold;
						}
					}

					> a{
						color: #fff !important;
					}
				}
			}

			.dropdown{
				.dropdown-toggle{
					color: #fff;
					background-color: transparent;
				}

				.dropdown-menu{
					> li{
						> a{
							color: #fff;

							&:focus,
							&:hover{
								background-color: transparent;
							}
						}
					}
				}
			}
		}
	}

	> .navbar{
		background: rgba(255, 255, 255, 0.95);
		-webkit-transition: all 0.25s ease-in-out;
    	transition: all 0.25s ease-in-out;

		.navbar-brand{
			margin-top: 8px;
			margin-left: 20px;
			padding-top: 8px;
    		padding-bottom: 8px;
    		background-image: url('./images/ies-logo.svg');
    		background-size: 100% auto;
			width: 67px;
    		height: 40px;

			img{
				height: 40px;
			}
		}

		#main-menus{
			border: none;
			box-shadow: none;
			padding-top: 68px;
			max-height: 100vh;
		}

		#menu-main-menu{
			.menu-item{
				padding-top: 2px;
				padding-bottom: 2px;

				&.active{
					> a{
						font-weight: bold;
					}
				}

				> a{
					color: @primary-color;
					font-size: 16px;
					-webkit-transition: all 0.25s ease-in-out;
    				transition: all 0.25s ease-in-out;

					&:focus,
					&:hover{
						background: transparent;
					}
				}

				&.open{
					.dropdown-toggle{
						background-color: transparent;
					}
				}

				> .dropdown-menu{
					> .menu-item{
						padding: 3px 0;

						> a{
							font-size: 14px;
							padding-left: 40px;
						}

						+ .menu-item{
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}

.content-page{
	padding-top: 56px;
}

.page-title{
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 32px;
	color: @primary-color;
	line-height: 1.2;
}

.section-title{
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	color: @primary-color;

	&.small{
		font-size: 28px;
	}

	&.extra-small{
		font-size: 18px;
		font-weight: lighter;
		margin-bottom: 8px;
	}

	&.big{
		font-size: 40px;
	}
}

@cd-handle-bounce-in: 75%;
@cd-handle-bounce-in-max: 80%;

@-webkit-keyframes cd-handle-bounce-in {
	0% {
		left: 0;
	}
	60% {
		left: @cd-handle-bounce-in-max;
	}
	100% {
		left: @cd-handle-bounce-in;
	}
}

@-moz-keyframes cd-handle-bounce-in {
	0% {
		left: 0;
	}
	60% {
		left: @cd-handle-bounce-in-max;
	}
	100% {
		left: @cd-handle-bounce-in;
	}
}

@keyframes cd-handle-bounce-in {
	0% {
		left: 0;
	}
	60% {
		left: @cd-handle-bounce-in-max;
	}
	100% {
		left: @cd-handle-bounce-in;
	}
}

@-webkit-keyframes cd-bounce-in {
	0% {
		width: 0;
	}
	60% {
		width: @cd-handle-bounce-in-max;
	}
	100% {
		width: @cd-handle-bounce-in;
	}
}

@-moz-keyframes cd-bounce-in {
	0% {
		width: 0;
	}
	60% {
		width: @cd-handle-bounce-in-max;
	}
	100% {
		width: @cd-handle-bounce-in;
	}
}

@keyframes cd-bounce-in {
	0% {
		width: 0;
	}
	60% {
		width: @cd-handle-bounce-in-max;
	}
	100% {
		width: @cd-handle-bounce-in;
	}
}

@slide_height: 100vh;
@slide_min_height: 500px;

#home-page{
	#splashscreen{
		background-color: #f8f8f8;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2000;
		text-align: center;

		> img{
			position: absolute;
			top: 50%;
			text-align: center;
			left: 0;
			right: 0;
			height: 64px;
			margin: -32px auto 0;
		}
	}

	#slide-panel{
		text-align: center;
		position: relative;
		height: @slide_height;
		min-height: @slide_min_height;
		overflow: hidden;

		&.ies-blue{
			#slide-content-container{
				.slide-content{
					.title{
						color: #fff;
					}

					.description{
						color: #fff;
					}
				}
			}
		}

		#slide-content-container{
			position: relative;

			.slide-content{
				position: absolute;
				left: 0;
				width: 100%;
				padding: 15px;
				z-index: 5;
				text-align: left;
				max-width: 550px;
				display: table;
				height: @slide_height;
				min-height: @slide_min_height;

				.slide-content-inner{
					padding: 0 10px;
					display: table-cell;
					vertical-align: middle;
				}

				> div{
					max-width: 95%;
					margin: auto;
				}

				.title{
					font-size: 32px;
					font-weight: bold;
					line-height: 1.2;
					color: @primary-color;
				}

				.description{
					font-size: 17px;
					margin-top: 24px;
					color: @primary-color;
				}

				.button-panel{
					margin-top: 64px;
				}
			}
		}

		.cd-image-container {
			height: 100%;
			position: relative;
			width: 100%;
			margin: 0em auto;

			.mask-menu{
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
				background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
				position: absolute;
				top: 0;
				bottom: 50%;
				left: 0;
				right: 0;
			}

			> img {
			  	height: 100vh;
			  	min-height: @slide_min_height;
			  	width: auto;
				max-width: none;
				max-height: none;
			}
		}

		.cd-resize-img {
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 100%;
			overflow: hidden;
			// background-color: @primary-color;
			background-repeat: no-repeat;
			background-position: left top;
			background-size: auto 100%;
			/* Force Hardware Acceleration in WebKit */
			-webkit-transform: translateZ(0);
			-moz-transform: translateZ(0);
			-ms-transform: translateZ(0);
			-o-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			// border-right: 1px solid #f00;

			> img{
				height: 100vh;
			  	width: auto;
				max-width: none;
				max-height: none;
				min-height: @slide_min_height;
			}
		}

		.cd-handle {
			position: absolute;
			z-index: 5;
			height: 44px;
			width: 44px;
			/* center the element */
			left: @cd-handle-bounce-in;
			top: 70%;
			margin-left: -22px;
			margin-top: -22px;
			border-radius: 50%;
			background: url("images/slider-button.png") no-repeat center center;
			background-size: 100% auto;
			cursor: move;
			// box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
			// opacity: 0;
			-webkit-transform: translate3d(0, 0, 0) scale(0);
			-moz-transform: translate3d(0, 0, 0) scale(0);
			-ms-transform: translate3d(0, 0, 0) scale(0);
			-o-transform: translate3d(0, 0, 0) scale(0);
			transform: translate3d(0, 0, 0) scale(0);

			&.draggable {
				/* change background color when element is active */
				// background-color: @primary-color;
			}
		}

		.is-visible {
			.cd-resize-img {
				width: @cd-handle-bounce-in;

				-webkit-animation: cd-bounce-in 1.5s;
				-moz-animation: cd-bounce-in 1.5s;
				animation: cd-bounce-in 1.5s;
			}

			.cd-handle {
				// opacity: 1;
				// left: @cd-handle-bounce-in;

				-webkit-animation: cd-handle-bounce-in 1.5s;
				-moz-animation: cd-handle-bounce-in 1.5s;
				animation: cd-handle-bounce-in 1.5s;

				-webkit-transform: translate3d(0, 0, 0) scale(1);
				-moz-transform: translate3d(0, 0, 0) scale(1);
				-ms-transform: translate3d(0, 0, 0) scale(1);
				-o-transform: translate3d(0, 0, 0) scale(1);
				transform: translate3d(0, 0, 0) scale(1);
				// -webkit-transition: all 0.25s ease-in-out;
    			// transition: all 0.25s ease-in-out;
				-webkit-transition: -webkit-transform 0.3s 0.35s;
				-moz-transition: -moz-transform 0.3s 0.35s;
				transition: transform 0.3s 0.35s;
			}
		}

		#explore-button-panel{
			position: absolute;
			z-index: 3;
			bottom: 20px;
			width: 100%;

			#explore-button{
				font-size: 20px;
				color: #fff;
				display: inline-block;

				i{
					font-size: 40px;
				}
			}
		}
	}

	#what-we-do{
		padding-top: 64px;

		.container{
			position: relative;
			z-index: 2;
		}

		#solar-cell-image{
			position: relative;
			z-index: 1;
		}

		#project-type-list-panel{
			position: relative;
			z-index: 2;
		}

		#what-we-do-clouds{
			position: absolute;
			width: 350px;
			height: 82px;
			right: 0;
		}

		.section-title{
			text-align: center;
			font-size: 28px;
		}

		#project-type-list{
			list-style: none;
			padding: 0;

			&.owl-carousel{
				margin-left: auto;
				margin-right: auto;

				.project-type{
					width: 100% !important;
				}
			}

			.owl-stage-outer{
				.owl-stage{
					margin: 20px 0;
				}
			}

			.project-type{
				text-align: center;
				-webkit-transition: all 0.25s ease-in-out;
    			transition: all 0.25s ease-in-out;

    			> a{
					padding: 28px 0;
					display: block;
    			}

				.project-type-icon{
					display: block;
					width: 56px;
					height: 56px;
					line-height: 56px;
					margin: 0 auto 16px;

					> img{
						display: inline-block;
					}
				}

				.project-type-title{
					font-size: 17px;
					font-weight: bold;
					color: @primary-color;
				}

				.project-type-description{
					margin-top: 16px;
				}

				.project-type-link{
					margin-top: 16px;
					font-size: 15px;
					font-weight: normal;
					color: @red-color-1;
				}
			}
		}
	}

	#isl{
		height: 240px;

		.section-content{
			transform: translateY(-50%);
		}

		.isl-text{
			font-size: 17px;
			color: @text-color;
			margin-top: 16px;
		}

		.isl-logo{
			max-height: 48px;
		}

		.isl-link{
			font-size: 17px;

			&:after{
				// color: @secondary-color;
			}
		}

		.button-panel{
			margin: 0;
			font-size: 24px;
		}
	}

	#first-mover{
		padding-top: 48px;
		padding-bottom: 48px;
		position: relative;
    	z-index: 2;
		overflow-x: hidden;

		.section-title{
			margin-bottom: 90px;
			font-size: 28px;
			text-align: left;
			padding: 0 15px;
		}

		.container{
			padding: 0;
		}

		.first-mover-item{
			padding-left: 17px;
			padding-right: 17px;
			position: relative;

			.row{
				margin-left: -17px;
				margin-right: -17px;
			}

			&.right{
				.first-mover-content{
					padding-left: 0;
					padding-right: 54px;
				}
			}

			&.butterfly{
				.first-mover-image-col{
					&:before{
						content: "";
						display: block;
						background-image: url('./images/butterfly.png');
						background-repeat: no-repeat;
						background-size: contain;
						width: 64px;
						height: 58px;
						position: absolute;
						top: 0;
						left: 0;
						margin-top: 20px;
						margin-left: 20px;
						z-index: 2;
					}
				}
			}

			&.cloud{
				.first-mover-image-col{
					&:before{
						content: "";
						display: block;
						background-image: url('./images/clouds.png');
						background-repeat: no-repeat;
						background-size: contain;
						width: 290px;
						height: 70px;
						position: absolute;
						top: 0;
						right: 0;
						margin-top: 20px;
						margin-right: 20px;
						z-index: 2;
					}
				}
			}

			&.wind-turbine{
				.first-mover-image-col{
					&:after{
						content: "";
						display: block;
						background-image: url('./images/wind-turbine.png');
						background-repeat: no-repeat;
						background-size: contain;
						width: 137px;
						height: 200px;
						position: absolute;
						bottom: 0;
						right: 0;
						margin-bottom: -10px;
						z-index: 2;
					}
				}
			}

			&.sun{
				.first-mover-image-col{
					&:before{
						content: "";
						display: block;
						background-image: url('./images/sun.png');
						background-repeat: no-repeat;
						background-size: contain;
						width: 115px;
						height: 110px;
						position: absolute;
						top: 0;
						right: 0;
						margin-top: 10px;
						z-index: 2;
					}
				}
			}

			.first-mover-image-col{
				padding: 0;
			}

			.first-mover-image{
				// position: absolute;
				right: 0;
				// width: 215px;
				height: 412px;
				// padding-bottom: 293px;
				// padding-bottom: 150%;
				background-size: cover;
				background-position: center center;
			}

			.first-mover-content{
				padding-left: 0;

				.first-mover-title{
					font-size: 17px;
					font-weight: bold;
					line-height: 1.4;
					color: @primary-color;
					margin-bottom: 24px;
				}

				.first-mover-link-btn{
					font-size: 15px;
				}
			}
		}

		.owl-dots,
		.owl-nav{
			position: absolute;
		    top: 0;
		    margin-top: -50px;
		}

		.owl-nav{
			margin-left: 17px;
			margin-right: 17px;
			right: 0;
		}

		.progress-bar{
			left: 17px;
		}
	}

	#ies-in-number{
		padding: 32px 0 80px;
		background-color: #fafafa;
	}

	#customer-trust{
		// margin-top: -120px !important;
		padding: 64px 0 64px;
		// background-color: #f8f8f8;

		&.top-nav{
			.testimonial{
				background: url('./images/quote@3x.png') no-repeat center top;
				background-size: 72px auto;
				padding-top: 16px;
			}
		}

		.section-title{
			font-size: 28px;
			line-height: 1.2;
			// margin-bottom: 48px;
		}

		.testimonial{
			font-size: 18px;
			background: url('./images/quote@3x.png') no-repeat center top 20px;
			background-size: 72px auto;
			padding-top: 48px;
			// padding: 0 24px;

			.text{
				text-align: center;
				font-size: 17px;
				min-height: 120px;
				padding-bottom: 8px;
			}

			.customer-profile{
				text-align: left;
				float: right;

				.name{
					color: #9b9b9b;
					font-size: 13px;

					&:before{
						content: '-';
						font-size: 13px;
						margin-right: 5px;
					}
				}

				.position{
					color: #9b9b9b;
					font-size: 13px;
				}
			}
		}
	}

	#our-people{
		background-color: #f8f8f8;
		height: 340px;
		background-size: cover;
		background-position: center center;

		#our-people-title{
			font-size: 28px;
			color: @primary-color;
			line-height: 1.2;
		}

		.button-panel{
			margin-top: 36px;
			margin-bottom: 0;

			.btn{
				font-size: 15px;
				padding: 13px;
				min-width: 180px;
			}
		}
	}

	#staff-voices{
		padding-top: 64px;

		.staff-voice-list{
			margin-top: 53px;
			margin-bottom: 65px;
		}
	}
}

#about-page{
	#about-intro{
		.page-title{
			// margin-bottom: 32px;
		}

		.section-title{
			// margin-top: 96px;
		}
	}

	#team{
		margin-top: 0;
	}

	#about-image{
		border: 1px solid #ddd;
		background-size: cover;
		background-color: #ddd;
		background-position: center center;
		height: 360px;
		max-height: 360px;
		display: block;
		margin-left: -15px;
		margin-right: -15px;
	}

	#management-staff{
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.staff-list{
		list-style: none;
		padding: 0;
		text-align: center;

		&.management{
			> li{
				max-width: 280px;

				.profile-image{
					padding: 50%;
					padding-bottom: 75%;
				}

				> a{
					&:hover{
						.name{
							.lastname{
								&:after{
									margin-left: 14px;
								}
							}
						}
					}
				}

				&.keyword{
					&:hover{
						> a{
							cursor: pointer;
						}
					}
				}

				.name{
					font-weight: bold;
					font-size: 17px;
					padding: 0;
					position: relative;

					.name-text{
						display: inline-block;
						vertical-align: middle;
						line-height: 1.4;
					}

					.lastname{
						position: relative;

						&:after{
							content: "\f105";
							font-family: "FontAwesome";
							color: @red-color-1;
							font-size: 30px;
							line-height: 19px;
							margin-left: 7px;
							display: inline-block;
							vertical-align: middle;
							font-weight: normal;
							position: absolute;
							top: 2px;
							transition-duration: 0.2s;
						}
					}
				}

				.position{
					font-size: 15px;
					padding: 0;
				}
			}
		}

		> li{
			text-align: left;
			display: block;
			margin: 0 auto 20px;
			// max-width: 280px;

			&:nth-child(odd){
				padding-left: 0;
				padding-right: 3.5px;
			}

			&:nth-child(even){
				padding-left: 3.5px;
				padding-right: 0;
			}

			&.keyword{
				&:hover{
					> a{
						cursor: default;
					}

					// .staff-keyword{
					// 	opacity: 1;
					// }
				}
			}

			> div,
			> a{
				display: block;
				max-width: 100%;
				position: relative;

				.profile-image{
					padding: 30% 30% 40% 30%;
					display: block;
					background-color: #ddd;
					background-size: cover;
					background-position: top center;
					background-repeat: no-repeat;
					margin-bottom: 10px;
					position: relative;
					-webkit-transition: all 0.25s ease-in-out;
    				transition: all 0.25s ease-in-out;

					.staff-keyword{
						opacity: 0;
						padding: 15px;
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						text-align: center;
						background-color: rgba(0, 51, 89, 0.9);
						box-shadow: 0 3px 8px 0 rgba(74, 74, 74, 0.4);
						color: #fff;
						-webkit-transition: all 0.25s ease-in-out;
    					transition: all 0.25s ease-in-out;

						.keyword{
							text-align: center;
							left: 0;
							right: 0;
							padding: 15px;
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
						}
					}
				}

				.name{
					padding-left: 16px;
					padding-right: 16px;
					font-size: 15px;
					color: #444;
				}

				.position{
					color: #aaa;
					padding-left: 16px;
					padding-right: 16px;
					font-size: 13px;
				}
			}
		}
	}

	#about-footer-image-panel{
		.footer-image-box{
			min-height: 480px;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			background-color: #ddd;
		}
	}

	#ies-in-number{
		padding: 32px 0;
	}
}

#ies-in-number{
	text-align: center;
	padding: 64px 0;

	.section-title{
		padding: 4px 25px;
		display: inline-block;
		background: transparent;
		font-weight: bold;
		margin-bottom: 48px;
		font-size: 32px;
	}

	.magic-number-col{
		+ .magic-number-col{
			// border-left: solid 0.5px #5bc6e8;

			&:before{
				content: '';
				width: 80px;
				height: 1px;
				background-color: @red-color-1;
				margin: 32px auto;
				display: block;
			}
		}
	}

	.magic-number-box{
		padding: 10px 15px;
		text-align: center;

		.magic-number{
			font-weight: bold;
			font-size: 32px;
			color: @primary-color;
		}

		.number-description{
			font-size: 15px;
			color: @text-color;
		}
	}
}

#careers-page{
	.page-title{
		// margin-bottom: 64px;
	}

	#career-image{
		border: 1px solid #ddd;
		background-size: cover;
		background-color: #ddd;
		background-position: center center;
		height: 400px;
		max-height: 400px;
		display: block;
		margin: 64px -15px 0;
	}

	#our-brand{
		padding-top: 9px;

		.page-title{
			font-size: 24px;
		}
	}

	#career-image-panel{
		margin-top: 32px;
		background-color: #ddd;

		#career-images{
			list-style: none;
			margin-bottom: 0;

			> li{
				display: inline-block;
				height: 150px;
				background-size: cover;
				background-position: center center;
			}
		}
	}

	#open-position{
		margin-top: 64px;

		.section-title{
			font-size: 24px;
		}

		.job-content-title{
			font-size: 18px;
			font-weight: bold;
			line-height: 1.5;
			color: #003359;
			margin-bottom: 8px;
		}

		.job-content{
			ul{
				margin-left: 20px;
			}
		}

		#qualification-description-title{
			margin-top: 24px;
		}

		.position-panel-group{
			.panel{
				.panel-collapse{
					.button-panel{
						margin-top: 24px;
					}
				}
			}
		}
	}

	.position-panel-group{
		margin: 40px auto;

		.panel{
			border: none;
			box-shadow: none;
			border-radius: 0;
			border-bottom: 0.5px solid #ddd	;

			.panel-heading{
				background: transparent;
				border: none;
				padding: 15px 0;

				.panel-title{
					.position-title-col{
						> a{
							display: block;
							font-size: 18px;
							font-weight: bold;
							color: @primary-color;
							position: relative;

							&.collapsed{
								&:after{
									content: "\f107";
								}
							}

							&:focus{
								text-decoration: none;
							}

							&:after{
								font-size: 20px;
								content: "\f106";
								font-family: "FontAwesome";
								color: rgba(74, 74, 74, 0.7);
								display: block;
								line-height: 18px;
								position: absolute;
								top: 13px;
								right: 0;
							}

							.position-title{
								padding-right: 20px;
								display: inline-block;
								vertical-align: text-bottom;
							}

							.position-location{
								color: rgba(74, 74, 74, 0.7);
								font-size: 15px;
								font-weight: lighter;
								display: block;
								margin-top: 6px;
							}
						}
					}

					.apply-col{
						text-align: right;

						.apply-btn{
							margin-right: 0;
						}
					}
				}
			}

			.panel-collapse{
				.panel-body{
					border: none;
				}
			}
		}
	}

	#career-apply{
		margin-top: 0;

		.button-panel{
			margin-top: 40px;
		}
	}
}

.pre-footer{
	padding: 0;
	background: #f8f8f8;

	.pre-footer-content{
		border-bottom: 1px solid #e8e8e8;
		padding: 24px 0;

		.title-1{
			font-size: 17px;
		}
	}

	.icon{
		margin-top: 20px;
		margin: 16px auto 0;
		display: block;
		max-width: 40px;

		img{
			width: 18px;
		}
	}

	.icon{
		&:before{
			content: '';
			display: inline-block;
			width: 0;
			-webkit-transition: all 0.25s ease-in-out;
	    	transition: all 0.25s ease-in-out;
		}

		&:hover{
			&:before{
				width: 12px;
			}
		}
	}
}

.button-panel{
	margin: 20px 0;

	&.top-40{
		margin-top: 40px;
	}

	&.bottom-40{
		margin-bottom: 40px;
	}
}

#go-to-top-btn{
	display: none;
	position: fixed;
	border-radius: 50%;
	right: 15px;
	bottom: 15px;
	background-color: rgba(0, 0, 0, 0.4);
	width: 44px;
	height: 44px;
	text-align: center;
	line-height: 44px;
	color: #fff;
	font-size: 17px;
	z-index: 2;
}

#footer-panel{
	background: #f8f8f8;
	font-size: 13px;

	#footer-body-panel{
		padding: 24px 0 20px;
		min-height: 200px;

		#company-footer-panel{
			color: #aea79f;
			margin-bottom: 40px;

			.company-logo-footer{
				margin-bottom: 16px;

				img{
					height: 38px;
				}
			}

			.company-title-footer{
				font-weight: bold;
			}

			.company-address-footer{
				margin-top: 2px;
			}
		}

		.footer-col{
			margin-bottom: 24px;
		}

		.footer-col-title{
			font-weight: bold;
			margin-bottom: 10px;
			color: #9b9b9b;
		}

		.footer-menu{
			list-style: none;
			margin-bottom: 20px;

			> li{
				+ li{
					margin-top: 10px;
				}

				> a{
					color: #aea79f;
					display: block;

					.footer-menu-icon{
						color: #aea79f;
						height: 16px;
					}
				}
			}
		}

		#footer-factsheet-list{
			> li{
				color: #aea79f;

				&.show-all{
					> a{
						padding-left: 0;

						&:hover{
							i{
								margin-left: 5px;
							}
						}

						i{
							-webkit-transition: all 0.15s ease-in-out;
	    					transition: all 0.15s ease-in-out;
						}

						&:before{
							display: none;
						}
					}
				}

				> a{
					padding-left: 20px;

					&:before{
						content: '';
						background-image: url('./images/download-grey.png');
						background-repeat: no-repeat;
						background-size: contain;
						width: 16px;
						height: 16px;
						display: inline-block;
						vertical-align: middle;
						margin-left: -20px;
						margin-right: 4px;
					}
				}
			}
		}
	}

	#footer-bottom-panel{
		padding: 0 0 40px;
		color: #9b9b9b;
		text-align: center;

		a{
			color: #9b9b9b;
		}

		#footer-bottom-right-col{
			text-align: center;
			margin-top: 8px;
		}
	}
}

#download-factsheet-dialog{
	.modal-dialog{
		.modal-content{
			border-radius: 0;
			padding: 2px 30px;

			.modal-header{
				padding-left: 0;
				padding-right: 0;

				.close{
					color: @primary-color;
					opacity: 1;
				}
			}

			.modal-body{
				padding-left: 0;
				padding-right: 0;
				min-height: 300px;

				.col-title{
					color: #aea79f;
					font-weight: bold;
					margin-bottom: 10px;
				}

				.factsheet-list{
					margin-bottom: 20px;
					font-weight: bold;
					color: @primary-color;

					.factsheet-files{
						> li{
							> a{
								font-weight: normal;
								color: @red-color-1;

								&:before{
									background-image: url('./images/download.svg');
								}
							}
						}
					}
				}
			}
		}
	}
}

.factsheet-list{
	list-style: none;

	> li{
		+ li{
			margin-top: 5px;
		}

		.factsheet-files{
			list-style: none;
			display: block;
			margin-top: 5px;

			> li{
				display: inline-block;
				margin-bottom: 5px;
				padding-right: 10px;

				a{
					color: #aea79f;
					padding-left: 20px;

					&:before{
						content: '';
						background-image: url('./images/download-grey.png');
						background-repeat: no-repeat;
						background-size: contain;
						width: 16px;
						height: 16px;
						display: inline-block;
						vertical-align: middle;
						margin-left: -20px;
						margin-right: 4px;
					}
				}
			}
		}

		> a{
			padding-left: 20px;
			color: @text-color;

			&:before{
				content: '';
				background-image: url('./images/download-grey.png');
				background-repeat: no-repeat;
				background-size: contain;
				width: 16px;
				height: 16px;
				display: inline-block;
				vertical-align: middle;
				margin-left: -20px;
				margin-right: 4px;
			}
		}
	}
}

#contact-page{
	#contact-intro{
		.page-title{
			// margin-bottom: 64px;
		}

		#or-text{
			margin: 48px 0;
			font-weight: 500;
			font-weight: bold;
			font-size: 24px;
			color: @primary-color;
		}
	}

	#contact-info-panel{
		margin: 60px 0 0;

		.contact-info-row{
			+ .contact-info-row {
				margin-top: 30px;
			}

			.contact-icon-col{
				float: left;
				width: 60px;

				> img{
					margin-top: -8px;
				}
			}

			.contact-content-col{
				margin-left: 60px;
			}
		}

		.contact-content-label{
			font-weight: 500;
			font-weight: bold;
			margin-bottom: 5px;
			font-size: 16px;
			color: @primary-color;
		}
	}

	#contact-form{
		padding: 40px 0;

		.button-panel{
			margin-top: 60px;
		}
	}

	#view-on-map-btn{
		margin-top: 8px;
	}
}

label{
	font-weight: 300;
	font-weight: thin;
	color: #4a4a4a;
}

#single-staff-page{
	.profile-name{
		font-size: 32px;
		font-weight: bold;
		color: @primary-color;
	}

	.position{
		color: #aea79f;
		font-size: 17px;
	}

	#profile-content-col{
		padding-right: 8%;

		.profile-body{
			padding: 64px 0;

			.profile-content{
				+ .profile-content{
					margin-top: 48px;
				}
			}
		}
	}

	.profile-content-title{
		font-size: 24px;
		font-weight: 500;
		font-weight: bold;
		margin-bottom: 20px;
		color: @primary-color;
	}

	.profile-image{
		padding: 50%;
		padding-bottom: 75%;
		background-size: cover;
		background-color: #ddd;
		background-position: top center;
		background-repeat: no-repeat;
		margin-bottom: 18px;
	}

	#profile-image-col{
		.profile-image{
			margin-bottom: 48px;
		}

		#education{
			// color: #9b9b9b;
		}
	}
}

#projects-intro{
	.page-title{
		// margin-bottom: 32px;
	}

	.intro-description{
		font-size: 16px;
	}
}

.project-list{
	list-style: none;
	margin-top: 30px;
	margin-bottom: 30px;
	position: relative;

	&.timeline{
		> li{
			display: block;
			margin-left: 9px;
			padding-left: 20px;
			border-left: 1px solid #e0e1dd;
			margin-bottom: 0;
			padding-bottom: 20px;

			&:before{
				content: "";
				display: block;
				position: absolute;
				border: solid 3px #aea79f;
				border-radius: 50%;
				background-color: #fff;
				width: 14px;
				height: 14px;
				left: -7px;
				-webkit-transition: all 0.5s ease-in-out;
	    		transition: all 0.5s ease-in-out;
			}

			&:last-child{
				margin-bottom: 30px;

				&:after{
					content: "";
					display: block;
					height: 80px;
					width: 10px;
					bottom: 0;
					left: -6px;
					position: absolute;
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
					background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
				}
			}

			+ li{
				padding-top: 40px;
			}

			&:hover{
				&:before{
					border-color: @red-color-1;
				}
			}

			> a{
				display: block;
				-webkit-transition: all 0.3s ease-in-out;
	    		transition: all 0.3s ease-in-out;

				&:hover{
					box-shadow: 0 2px 20px 0 rgba(150, 169, 187, 0.5) !important;
				}
			}

			.project-time{
				color: #4a4a4a;
				font-size: 17px;
				margin-bottom: 16px;
			}

			.project-image{
				background-color: #ddd;
				background-size: cover;
				background-position: center center;
				padding-bottom: 80%;
				margin-bottom: 0;
			}

			.project-content{
				padding: 24px 17px;

				.project-type{
					color: #9b9b9b;
					font-size: 14px;
					text-transform: uppercase;
					margin-bottom: 5px;

					&:hover{
						// box-shadow: 0 3px 8px 0 rgba(74, 74, 74, 0.4);
					}
				}

				.project-title{
					font-size: 24px;
					color: @primary-color;
					font-weight: 500;
					font-weight: bold;
					line-height: 1.2;
				}

				.project-subtitle{
					margin-top: 5px;

					.subtitle-text-list{
						list-style: none;

						> li{
							display: inline-block;
							color: #aea79f;
							font-size: 15px;

							+ li{
								&:before{
									content: "";
									display: inline-block;
									vertical-align: middle;
									background-color: #aea79f;
									border-radius: 50%;
									width: 6px;
									height: 6px;
									margin-right: 10px;
								}
							}
						}
					}
				}

				.project-short-description{
					color: #4a4a4a;
					margin-top: 24px;
					// margin-top: 64px;
					// height: 100px;
					position: relative;
					overflow: hidden;

					> .project-short-description-inner{
						position: static;
						bottom: 0;
						left: 0;
						right: 0;
					}
				}

				.button-panel{
					margin: 16px 0 0;
				}
			}
		}
	}

	> li{
		position: relative;
		background-color: #fff;
		margin-bottom: 50px;
		display: inline-block;
		vertical-align: top;

		.project-image{
			background-color: #ddd;
			background-size: cover;
			background-position: center center;
			padding-bottom: 60%;
			margin-bottom: 16px;
		}

		.project-content{
			padding: 0;

			.project-type{
				text-transform: uppercase;
				color: #9b9b9b;
				// font-size: 16px;
			}

			.project-title{
				font-size: 21px;
				color: @primary-color;
				font-weight: bold;
			}

			.project-subtitle{
				font-size: 15px;

				.subtitle-text-list{
					list-style: none;

					> li{
						display: inline-block;
						color: #aea79f;
						font-size: 15px;

						+ li{
							&:before{
								content: "";
								display: inline-block;
								vertical-align: middle;
								background-color: #aea79f;
								border-radius: 50%;
								width: 6px;
								height: 6px;
								margin-right: 10px;
							}
						}
					}
				}
			}

			.project-short-description{
				color: #4a4a4a;
				margin-top: 64px;
			}
		}
	}
}

#projects-page{
	.more-project{
		margin: 30px 0 60px;
	}
}

.section-cover-image{
	height: 489px;
	background-color: #aaa;
	background-size: cover;
	background-position: center center;
	position: relative;

	.mask{
		background: rgba(0, 0, 0, 0.35);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;

		&.white{
			background: rgba(255, 255, 255, 0.55);
		}
	}

	.section-content{
		z-index: 2;
		text-align: center;
		color: #fff;
		left: 0;
		right: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 40px;
		padding-left: 15px;
		padding-right: 15px;

		.section-title{
			font-size: 32px;
			color: #fff;
			margin-bottom: 10px;
		}

		.section-subtitle{
			font-size: 16px;

			.subtitle-text-list{
				list-style: none;

				> li{
					display: inline-block;
					color: #fff;
					font-size: 16px;

					+ li{
						&:before{
							content: "";
							display: inline-block;
							vertical-align: middle;
							background-color: #fff;
							border-radius: 50%;
							width: 6px;
							height: 6px;
							margin-right: 10px;
						}
					}
				}
			}
		}
	}
}

.post-content{
	margin: 8px auto;

	.post-body{
		margin: 0 0 64px;

		img{
			max-width: 100% !important;
			height: auto;
		}

		p{
			+ p{
				margin-top: 30px;
			}
		}
	}

	.post-footer{
		.post-tag{
			list-style: none;

			> li{
				display: inline-block;
				vertical-align: top;
				margin-bottom: 15px;

				&.tag-label{
					color: #4a4a4a;
					font-size: 15px;
					margin-right: 10px;
					vertical-align: middle;
				}

				> a{
					padding: 7px 16px;
					background: #e0e1dd;
					border-radius: 4px;
					color: #4a4a4a;
					font-size: 15px;
				}
			}
		}
	}
}

.tag-text{
	padding: 7px 16px;
	background: #e0e1dd;
	border-radius: 4px;
	color: #4a4a4a;
	font-size: 15px;
}

.related-project-content{
	border-top: solid 0.5px #e0e1dd;
	padding: 48px 0;
}

#feature-news{
	padding-top: 33px;
}

.news-list{
	list-style: none;

	&.feature{
		&.grid{
			> li{
				margin-bottom: 0;
			}

			.news-item{
				&:hover{
					box-shadow: 0 2px 20px 0 rgba(150, 169, 187, 0.5);

					.news-content{
						background-color: #fff;
						box-shadow: none;
					}
				}

				.news-image{
					background-color: #ddd;
					background-size: cover;
					background-position: center center;
					padding-bottom: 60%;
					display: block;
				}

				.news-content{
					padding: 16px 20px 24px;
					margin: 0;
					background-color: transparent;
				}

				.news-title{
					font-size: 21px;
					margin-bottom: 5px;
				}

				.news-date{
					display: inline-block;
					color: #aea79f;
					font-size: 15px;
				}
			}
		}

		> li{
			padding: 0;
		}

		.news-item{
			&:hover{
				box-shadow: 0 2px 20px 0 rgba(150, 169, 187, 0.5);
			}

			.news-image{
				background-color: #ddd;
				background-size: cover;
				background-position: center center;
				padding-bottom: 74%;
				display: block;
			}

			.news-content{
				padding: 24px;

				.button-panel{
					margin-bottom: 0;
				}
			}

			.news-title{
				font-size: 21px;
				font-weight: 500;
				font-weight: bold;
				color: @primary-color;
				line-height: 1.2;
				margin-bottom: 5px;
			}

			.news-date{
				display: inline-block;
				color: #aea79f;
				font-size: 16px;
			}

			.news-short-description{
				margin-top: 80px;
			}
		}
	}

	&.grid{
		> li{
			margin-bottom: 48px;

			&.news-item{
				&:hover{
					box-shadow: none;

					.news-content{
						box-shadow: 0 2px 20px 0 rgba(150, 169, 187, 0.5);
					}
				}

				.news-image{
					background-color: #ddd;
					background-size: cover;
					background-position: center center;
					padding-bottom: 57%;
					display: block;
				}

				.news-content{
					background: #fff;
					padding: 16px 16px 32px;
					margin: -40px 8px 0;
				}

				.news-title{
					font-size: 17px;
					font-weight: 500;
					font-weight: bold;
					color: @primary-color;
					margin-bottom: 5px;
					line-height: 1.4;
					max-height: 72px;
    				overflow: hidden;
				}

				.news-date{
					display: block;
					font-size: 15px;
					color: #aea79f;
				}
			}
		}
	}
}

#single-news-page{
	.post{
		margin: 48px auto;

		.post-heading{
			.post-title{
				color: @primary-color;
				font-size: 21px;
				font-weight: bold;
			}

			.post-date{
				font-size: 15px;
				line-height: 1.5;
				text-align: left;
				color: #9b9b9b;
				margin-top: 8px;
			}
		}
	}
}

#project-filters-section{
	margin-top: 16px;
}

#project-filters-label{
	color: #aea79f;
	font-size: 13px;
	margin-bottom: 8px;
}

hr{
	// border-color: #979797;
}

#project-filters{
	list-style: none;
	// max-width: 1000px;
	white-space: nowrap;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	margin: 0 0 10px;
	padding: 0 0px 60px;
	position: relative;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;

	.project-filter-item{
		display: inline-block;
		vertical-align: top;

		&.active{
			> a{
				display: inline-block;
				vertical-align: middle;
				background-color: @red-color-1;
				color: #fff;

				> .content{
					> .title{

					}

					> .subtitle{
						color: #fff;
					}
				}
			}

			&:hover{
				> a{
					border-color: @red-color-1;
					color: #fff;

					> .content{
						> .subtitle{
							font-size: 15px;
							color: #fff;
						}
					}
				}
			}
		}

		+ li{
			margin-left: 5px;
		}

		&:hover{
			> a{
				background-color: @red-color-1;
				border-color: @red-color-1;
				color: #fff;

				> .content{
					> .subtitle{
						color: #fff;
					}
				}
			}
		}

		> a{
			display: block;
			border: 2px solid @red-color-1;
			border-radius: 4px;
			font-size: 13px;
			text-align: center;
			padding: 0 14px;
			color: @red-color-1;
			height: 40px;
			min-width: 100px;
			line-height: 34px;
			-webkit-transition: all 0.25s ease-in-out;
	    	transition: all 0.25s ease-in-out;

			> .content{
				display: inline-block;
				vertical-align: middle;
				line-height: 1.4;

				> .title{

				}

				> .subtitle{
					font-size: 12px;
					line-height: 1;
					color: #aea79f;
					-webkit-transition: all 0.25s ease-in-out;
	    			transition: all 0.25s ease-in-out;
				}
			}
		}
	}
}

#project-filters-container{
	margin-bottom: 25px;
	overflow: hidden;
	height: 100px;

	#project-filters{
		margin-left: 30px;
		margin-right: 30px;
	}

	.nav-button{
		top: 30px;

		&.hide{
			+ #project-filters{
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}

.nav-container{
	position: relative;

	.nav-button{
		position: absolute;
		font-size: 32px;
		line-height: 1;
		color: @red-color-1;
		top: 0;
		height: 48px;
		display: block;
		text-align: center;

		&.prev{
			left: 15px;
		}

		&.next{
			right: 15px;
		}

		&.disabled{
			color: #ccc;
		}
	}
}

#what-we-have-done{
	margin-top: -40px;
	padding-top: 30px;
	background-color: #fff;
	position: relative;
	z-index: 10;
}

.wp-caption{
	max-width: 100%;

	.wp-caption-text{
		margin-top: 9.5px;
		margin-bottom: 48px;
		font-size: 15px;
		text-align: center;
		color: #aea79f;
	}
}

.owl-theme{
	.owl-dots{
		.owl-dot{
			> span{
				margin: 5px 0;
			}
		}
	}
}

.owl-carousel{
	position: relative;

	&.timer{
		.owl-dots{
			.owl-dot{
				&.active{
					> span{
						background-color: #aea79f;
					}
				}
			}
		}
	}

	.owl-nav{
		margin-top: 24px;
		width: 100%;
    	text-align: right;
    	position: relative;
    	z-index: 2;

    	> div{
    		text-align: center;
    		width: 20px;
		    height: 20px;
		    display: block;
		    overflow: hidden;
		    background-color: transparent;
		    padding: 0 !important;

		    &:hover{
				background-color: transparent !important;
			}

			&.disabled{
				&:before{
					color: #ccc;
				}
			}

		    &:before{
		    	font-family: "FontAwesome";
				color: @red-color-1;
				font-size: 20px;
				position: static;
				text-align: center;
				display: block;
				width: 20px;
				height: 20px;
				line-height: 18px;
				background-color: transparent;
		    }
    	}

    	.owl-prev{
    		display: inline-block;
    		vertical-align: middle;
			background-color: transparent;
			margin: 0;

			&:before{
				content: "\f104";
			}
    	}

    	.slide-num{
    		display: inline-block;
    		vertical-align: middle;
    		min-width: 50px;
    		width: auto;
    		height: auto;
    		margin: 0;
    	}

    	.owl-next{
    		display: inline-block;
    		vertical-align: middle;
    		background-color: transparent;
    		margin: 0;

    		&:before{
				content: "\f105";
			}
    	}
	}

	.owl-dots{
		margin-top: -27px;
		position: relative;

		.owl-dot{
			display: inline-block;
			height: 30px;
			padding: 14px 0;
			background-color: transparent;

			+ .owl-dot{
				margin-left: 10px;
			}

			&.active{
				> span{
					background-color: #4a4a4a;
				}
			}

			.progress-bar{
				height: 2px;
				width: ~"calc(100vw - 60px - 70px)";
				background-color: #aea79f;
				box-shadow: none;
				position: absolute;
				left: 0;

				.bar{
					height: 2px;
					width: 0;
					background-color: #4a4a4a;
				}
			}

			> span{
				display: none;
				width: 48px;
				height: 2px;
				background-color: #aea79f;
			}
		}
	}
}

.staff-voice-list{
	list-style: none;
	// max-width: 95%;
	// padding: 0 17px;
	margin: auto;

	.staff-voice{
		display: inline-block;
		// padding: 0 24px;

		.text{
			font-size: 18px;
			color: #4a4a4a;
			margin-bottom: 24px;
			min-height: 4.2em;
		}

		.profile-thumbnail{
			display: block;
			width: 56px;
			height: 56px;
			border-radius: 50%;
			float: left;
			background-color: #ddd;
			background-size: cover;
			background-position: center center;
		}

		.profile-content{
			margin-left: 71px;

			.name{
				font-size: 16px;
				font-weight: bold;
				color: #9b9b9b;
			}

			.position{
				font-size: 16px;
				font-weight: normal;
				color: #9b9b9b;
			}
		}
	}

	.progress-bar{
		width: ~"calc(100vw - 35px - 70px)";
	}
}

.ies-form{
	max-width: 752px;
	margin: 48px auto 112px;

	.form-header{
		margin-bottom: 32px;

		.subtitle{
			font-size: 15px;
			color: #9b9b9b;
			margin-bottom: 8px;
		}

		.title{
			font-size: 32px;
			font-weight: bold;
			color: @primary-color;
			line-height: 1.4;
		}

		.location{
			font-size: 17px;
			color: #003359;
			margin-top: 8px;
		}
	}

	.form-body{
		.desc{
			margin-bottom: 32px;
		}

		.button-panel{
			margin-top: 48px;
		}

		.remark{
			font-size: 15px;
			color: #9b9b9b;
			margin-bottom: 8px;
		}
	}

	.form-group{
		+ .form-group{
			margin-top: 12px;
		}
	}
}

#thankyou-page{
	.thankyou-icon{
		width: 40px;
		height: 40px;
		margin: 64px auto 16px;
	}

	.thankyou-title{
		font-size: 24px;
		color: @primary-color;
		font-weight: bold;
		margin-bottom: 48px;
		line-height: 1.4;
	}

	.thankyou-text{
		font-size: 17px;
	}

	.button-panel{
		margin-top: 64px;
		margin-bottom: 80px;
	}
}

@cd-handle-bounce-in-sm: 50%;
@cd-handle-bounce-in-max-sm: 55%;

@-webkit-keyframes cd-handle-bounce-in-sm {
	0% {
		left: 0;
	}
	60% {
		left: @cd-handle-bounce-in-max-sm;
	}
	100% {
		left: @cd-handle-bounce-in-sm;
	}
}

@-moz-keyframes cd-handle-bounce-in-sm {
	0% {
		left: 0;
	}
	60% {
		left: @cd-handle-bounce-in-max-sm;
	}
	100% {
		left: @cd-handle-bounce-in-sm;
	}
}

@keyframes cd-handle-bounce-in-sm {
	0% {
		left: 0;
	}
	60% {
		left: @cd-handle-bounce-in-max-sm;
	}
	100% {
		left: @cd-handle-bounce-in-sm;
	}
}

@-webkit-keyframes cd-bounce-in-sm {
	0% {
		width: 0;
	}
	60% {
		width: @cd-handle-bounce-in-max-sm;
	}
	100% {
		width: @cd-handle-bounce-in-sm;
	}
}

@-moz-keyframes cd-bounce-in-sm {
	0% {
		width: 0;
	}
	60% {
		width: @cd-handle-bounce-in-max-sm;
	}
	100% {
		width: @cd-handle-bounce-in-sm;
	}
}

@keyframes cd-bounce-in-sm {
	0% {
		width: 0;
	}
	60% {
		width: @cd-handle-bounce-in-max-sm;
	}
	100% {
		width: @cd-handle-bounce-in-sm;
	}
}

@media (min-width: @screen-i5-landscape-min) {
	#about-page{
		.staff-list{
			> li{
				// max-width: 280px;
			}
		}
	}
}

@media (min-width: @screen-sm-min) {
	.row{
		&.no-gap-desktop{
			margin-left: 0;
	        margin-right: 0;

	        > [class*="col-"]{
	            padding-left: 0;
	            padding-right: 0;
	        }
	    }
	}

	.btn{
		&.link-btn{
			.link-icon{
				width: 24px;
			}
		}
	}

	#go-to-top-btn{
		right: 20px;
		bottom: 20px;
	}

	.qtranxs-lang-menu{
		margin-top: 0;
	}

	.more-detail{
		&.fixed{
			&:after{
				top: 2px;
			}
		}
	}

	body{
		font-size: 17px;
	}

	.container{
		width: 95%;
	}

	.content-page{
		padding-top: 80px;
	}

	.page-title{
		font-size: 42px;
		// margin-bottom: 64px;
	}

	.section-title{
		font-size: 32px;
	}

	.staff-voice-list{
		max-width: ~"calc(95% - 100px)";

		.staff-voice{
			padding: 0 24px;

			.profile-content{
				margin-left: 81px;
			}
		}
	}

	.owl-carousel{
		.owl-nav{
			position: absolute;
	    	top: ~"calc(50% - 80px)";
	    	text-align: center;

	    	> div{
	    		width: 40px;
			    height: 40px;

			    &:before{
			    	font-size: 50px;
					position: absolute;
					width: 40px;
					height: 40px;
					line-height: 40px;
					top: 0;
			    }
	    	}

	    	.owl-prev{
	    		position: absolute;
				left: -40px;
				right: auto;
	    	}

	    	.slide-num{
	    		display: none;
	    	}

	    	.owl-next{
	    		position: absolute;
	    		left: auto;
	    		right: -40px;

	    		&:before{
	    			left: auto;
					right: 0;
				}
	    	}
		}

		.owl-dots{
			text-align: center;
			margin-top: 64px;

			.owl-dot{
				.progress-bar{
					width: 48px;
					position: static;
					margin: 5px 0;
				}

				> span{
					display: block;
				}
			}
		}
	}

	#header-panel{
		> .navbar{
			background: rgba(255, 255, 255, 0.85);

			.navbar-brand{
				margin-top: 15px;
				margin-left: 0;
				padding-top: 15px;
    			padding-bottom: 15px;
    			width: 81px;
    			height: 48px;

				img{
					height: 48px;
				}
			}

			#main-menus{
				padding-top: 0;
			}

			#menu-main-menu{
				.menu-item{
					padding-top: 15px;
					padding-bottom: 15px;

					+ .menu-item{
						margin-left: 15px;
					}

					&.active{
						> a{
							font-weight: bold;
						}
					}

					> .dropdown-menu{
						margin-top: -10px;

						> .menu-item{
							> a{
								padding-left: 20px;
							}
						}
					}
				}
			}
		}
	}

	#home-page{
		#splashscreen{
			> img{
				height: 75px;
				margin: -36px auto 0;
			}
		}

		#slide-panel{
			text-align: center;
			position: relative;
			height: @slide_height;
			min-height: @slide_min_height;
			overflow: hidden;

			&.ies-blue{
				#slide-content-container{
					.slide-content{
						.title{
							color: #fff;
						}

						.description{
							color: #fff;
						}
					}
				}
			}

			#slide-content-container{
				.slide-content{
					.slide-content-inner{
						padding: 0;
					}

					> div{
						max-width: 75%;
					}

					.title{
						font-size: 50px;
					}

					.description{
						font-size: 18px;
					}

					.button-panel{
						margin-top: 48px;
					}
				}
			}

			.cd-handle {
				height: 64px;
				width: 64px;
				left: @cd-handle-bounce-in-sm;
				top: 75%;
				margin-left: -32px;
				margin-top: -32px;
			}

			.is-visible {
				.cd-resize-img {
					width: @cd-handle-bounce-in-sm;

					-webkit-animation: cd-bounce-in-sm 1.5s;
					-moz-animation: cd-bounce-in-sm 1.5s;
					animation: cd-bounce-in-sm 1.5s;
				}

				.cd-handle {
					-webkit-animation: cd-handle-bounce-in-sm 1.5s;
					-moz-animation: cd-handle-bounce-in-sm 1.5s;
					animation: cd-handle-bounce-in-sm 1.5s;
				}
			}
		}

		#what-we-do{
			padding-top: 118px;
			background-image: url('./images/blue-line.png');
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-position: center center;

			.section-title{
				text-align: left;
				font-size: 42px;
			}

			#solar-cell-image{
				width: 860px;
				max-width: 70%;
				margin-top: -15%;
				margin-left: -12.5%;
			}

			#project-type-list{
				list-style: none;
				max-width: 90%;
    			margin: auto;

				.project-type{
					text-align: center;
					-webkit-transition: all 0.25s ease-in-out;
	    			transition: all 0.25s ease-in-out;

	    			> a{
						padding: 80px 15px;

						&:hover{
							background-color: #fff;
							box-shadow: 0 2px 20px 0 rgba(150, 169, 187, 0.5) !important;
						}
	    			}

					.project-type-icon{
						display: block;
						width: 80px;
						height: 80px;
						line-height: 80px;
						margin: 0 auto 24px;
					}

					.project-type-title{
						font-size: 24px;
						font-weight: bold;
						color: @primary-color;
					}

					.project-type-link{
						font-size: 18px;
						font-weight: normal;
						color: @red-color-1;
					}
				}
			}
		}

		#isl{
			height: 240px;

			.isl-text{
				font-size: 17px;
				color: @text-color;
			}

			.isl-logo{
				max-height: 48px;
				max-width: 180px;
			}

			.isl-link{
				font-size: 17px;

				&:after{
					// color: @secondary-color;
				}
			}
		}

		#first-mover{
			padding-top: 112px;
			padding-bottom: 112px;

			.section-title{
				margin-bottom: 64px;
				font-size: 40px;
				text-align: center;
			}

			.first-mover-item{
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 0;

				+ .first-mover-item{
					// margin-top: 48px;
				}

				.row{
					&.no-gap-desktop{
						margin-left: 0;
						margin-right: 0;
					}
				}

				&.butterfly{
					.first-mover-image-col{
						&:before{
							width: 100px;
							height: 187px;
							margin-top: 30px;
							margin-left: -10px;
						}
					}
				}

				&.cloud{
					.first-mover-image-col{
						&:before{
							width: 350px;
							height: 82px;
							top: 0;
							right: 0;
							margin-top: 70px;
							margin-right: -20px;
						}
					}
				}

				&.wind-turbine{
					.first-mover-image-col{
						&:after{
							width: 200px;
							height: 288px;
							margin-bottom: -110px;
							margin-right: -20px;
						}
					}
				}

				&.sun{
					.first-mover-image-col{
						&:before{
							width: 180px;
							height: 172px;
							margin-top: 0;
							margin-right: -60px;
						}
					}
				}

				.first-mover-image-col{
					// padding: 0 15px;
				}

				.first-mover-image{
					position: relative;
					width: auto;
					height: 100%;
					min-height: 400px;
					// padding-bottom: 66%;
					background-size: cover;
					background-position: center center;
				}

				.first-mover-content{
					padding: 30px 40px;

					.first-mover-title{
						// margin-top: 12.5%;
						margin-top: 15px;
						font-size: 29px;
					}

					.first-mover-link-btn{
						font-size: 17px;
					}
				}
			}
		}

		#customer-trust{
			margin-top: 0 !important;
			padding: 88px 0 80px;

			&.top-nav{
				.testimonial{
					background: url('./images/quote@3x.png') no-repeat center top 20px;
					background-size: 72px auto;
					padding-top: 48px;
				}
			}

			.section-title{
				font-size: 40px;
				// margin-bottom: 83px;
			}

			#customer-trust-list{
				max-width: ~"calc(95% - 100px)";
			}

			.testimonial{
				padding: 83px 24px 0;
				background: url('./images/quote@3x.png') no-repeat center top 50px;
				background-size: 87px auto;

				.text{
					text-align: center;
					font-size: 18px;
					min-height: 130px;
					padding-bottom: 8px;
				}

				.customer-profile{
					text-align: center;
					float: none;

					.name{
						font-size: 16px;
						font-weight: bold;

						&:before{
							content: '';
							display: none;
						}
					}

					.position{
						color: #9b9b9b;
						font-size: 16px;
					}
				}
			}
		}

		#our-people{
			height: 619px;

			#our-people-title{
				font-size: 50px;
			}

			.button-panel{
				margin-top: 64px;

				.btn{
					font-size: 18px;
					padding: 16px;
					min-width: 230px;
				}
			}
		}

		#ies-in-number{
			padding: 64px 0 80px;
		}
	}

	#about-page{
		#about-intro{
			.section-title{
				margin-top: 0;
			}
		}

		#about-image{
			margin-left: 0;
			margin-right: 0;
			height: 400px;
			max-height: 400px;
		}

		.staff-list{
			margin-left: -7px;
			margin-right: -7px;

			&.management{
				> li{
					max-width: none;

					.name{
						font-size: 18px;
					}
				}
			}

			> li{
				text-align: left;
				display: block;
				margin: 0 auto 20px;

				&:nth-child(odd){
					padding-left: 7px;
					padding-right: 7px;
				}

				&:nth-child(even){
					padding-left: 7px;
					padding-right: 7px;
				}

				&.keyword{
					&:hover{
						.staff-keyword{
							opacity: 1;
						}
					}
				}

				> div,
				> a{
					.name{
						font-size: 18px;
						padding-left: 0;
						padding-right: 0;
					}

					.position{
						margin-top: 4px;
						font-size: 16px;
						padding-left: 0;
						padding-right: 0;
					}
				}
			}
		}
	}

	#ies-in-number{
		.magic-number-col{
			+ .magic-number-col{
				border-left: solid 0.5px @red-color-1;

				&:before{
					display: none;
				}
			}
		}
	}

	#single-staff-page{
		.profile-name{
			font-size: 50px;
		}

		.position{
			font-size: 24px;
		}
	}

	.project-list{
		list-style: none;
		margin-top: 30px;
		margin-bottom: 30px;
		position: relative;

		&.timeline{
			> li{
				margin-left: 20px;
				padding-left: 70px;

				&:before{
					border: solid 5px #aea79f;
					width: 25px;
					height: 25px;
					left: -13px;
				}

				.project-time{
					font-size: 18px;
				}

				.project-content{
					padding: 36px 48px;

					.project-type{
						font-size: 16px;
					}

					.project-title{
						font-size: 32px;
					}

					.project-subtitle{
						.subtitle-text-list{
							list-style: none;

							> li{
								font-size: 16px;
							}
						}
					}
				}
			}
		}

		> li{
			.project-image{
				margin-bottom: 20px;
			}

			.project-content{
				.project-title{
					font-size: 24px;
				}

				.project-subtitle{
					.subtitle-text-list{
						> li{
							font-size: 16px;
						}
					}
				}
			}
		}
	}

	.news-list{
		&.feature{
			&.grid{
				.news-item{
					.news-content{
						padding: 24px;
						margin: 0;
						background-color: transparent;
					}

					.news-title{
						font-size: 24px;
					}

					.news-date{
						font-size: 16px;
					}
				}
			}

			> li{
				padding: 0 15px;
			}

			.news-item{
				&:hover{
					box-shadow: 0 2px 20px 0 rgba(150, 169, 187, 0.5);
				}

				.news-image{
					background-color: #ddd;
					background-size: cover;
					background-position: center center;
					padding-bottom: 74%;
					display: block;
				}

				.news-content{
					padding: 24px;

					.button-panel{
						margin-bottom: 0;
					}
				}

				.news-title{
					font-size: 32px;
					font-weight: 500;
					font-weight: bold;
					color: @primary-color;
					line-height: 1.2;
					margin-bottom: 5px;
				}

				.news-date{
					display: inline-block;
					color: #aea79f;
					font-size: 16px;
				}

				.news-short-description{
					margin-top: 80px;
				}
			}
		}

		&.grid{
			> li{
				margin-bottom: 48px;

				&.news-item{
					&:hover{
						box-shadow: none;

						.news-content{
							box-shadow: 0 2px 20px 0 rgba(150, 169, 187, 0.5);
						}
					}

					.news-image{
						background-color: #ddd;
						background-size: cover;
						background-position: center center;
						padding-bottom: 57%;
						display: block;
					}

					.news-content{
						background: #fff;
						padding: 16px 16px 32px;
						margin: -40px 8px 0;
					}

					.news-title{
						font-size: 18px;
						font-weight: 500;
						font-weight: bold;
						color: @primary-color;
						margin-bottom: 5px;
						line-height: 1.4;
					}

					.news-date{
						display: block;
						font-size: 15px;
						color: #aea79f;
					}
				}
			}
		}
	}

	#feature-news{
		padding-top: 60px;
	}

	section{
		&.content-section{
			padding: 30px 0;
		}

		&.top-nav{
			.page-title{
				margin-bottom: 64px !important;
			}

			.section-title{
				margin-bottom: 20px !important;
			}

			.owl-nav{
				position: absolute;
			    top: ~"calc(50% - 80px)";
			    text-align: center;
			    margin-top: 24px;
			}

			.owl-dots{
				position: relative;
			    margin-top: 64px;
			}
		}
	}

	#single-news-page{
		.post{
			max-width: 80%;

			.post-heading{
				.post-title{
					font-size: 32px;
				}
			}
		}
	}

	.post-content{
		margin: 64px auto;
		max-width: 80%;

		.post-body{
			margin: 64px 0;
		}
	}

	.pre-footer{
		margin-top: 0;

		.pre-footer-content{
			padding: 64px 0 50px;

			.title-1{
				font-size: 24px;
			}
		}

		.icon{
			max-width: 60px;

			img{
				width: 30px;
			}
		}
	}

	#careers-page{
		#career-image{
			margin: 0;
		}

		#our-brand{
			padding-top: 60px;

			.page-title{
				font-size: 50px;
			}
		}

		#career-image-panel{
			margin-top: 66px;

			#career-images{
				padding: 0;

				> li{
					height: 310px;
				}
			}
		}

		#open-position{
			margin-top: 80px;

			.section-title{
				font-size: 28px;
			}

			.job-content-title{
				font-size: 18px;
				font-weight: bold;
				line-height: 1.5;
				color: #003359;
				margin-bottom: 8px;
			}

			.job-content{
				ul{
					margin-left: 20px;
				}
			}

			#qualification-description-title{
				margin-top: 24px;
			}

			.position-panel-group{
				.panel{
					.panel-collapse{
						.button-panel{
							margin-top: 24px;
						}
					}
				}
			}
		}

		.position-panel-group{
			max-width: 80%;

			.panel{
				.panel-heading{
					padding: 30px 0;

					.panel-title{
						.position-title-col{
							> a{
								font-size: 24px;
							}
						}
					}
				}

				.panel-collapse{
					.panel-body{
						padding: 0 70px 50px;
					}
				}
			}
		}

		#career-apply{
			margin-top: 40px;
		}
	}

	#contact-page{
		#contact-intro{
			.page-title{
				// margin-bottom: 48px;
			}

			#or-text{
				margin: 10px 0;
			}
		}

		#contact-info-panel{
			margin: 60px 0;
		}
	}

	#footer-panel{
		font-size: 15px;

		#footer-body-panel{
			padding: 50px 0 20px;

			.footer-col{
				margin-bottom: 20px;
			}
		}

		#footer-bottom-panel{
			padding: 40px 0;
			text-align: left;

			#footer-bottom-right-col{
				text-align: right;
				margin-top: 0;
			}
		}
	}

	.ies-form{
		margin: 64px auto 112px;

		.form-header{
			margin-bottom: 48px;

			.subtitle{
				font-size: 16px;
				margin-bottom: 24px;
			}

			.title{
				font-size: 32px;
			}

			.location{
				font-size: 18px;
			}
		}

		.form-body{
			.desc{
				margin-bottom: 48px;
			}

			.button-panel{
				margin-top: 64px;
			}

			.remark{
				font-size: 16px;
			}
		}

		.form-group{
			+ .form-group{
				margin-top: 24px;
			}
		}
	}

	#thankyou-page{
		.thankyou-icon{
			margin: 96px auto 16px;
		}

		.thankyou-title{
			font-size: 32px;
		}

		.thankyou-text{
			font-size: 18px;
		}
	}
}

@media (min-width: @screen-md-min){
	#home-page{
		#slide-panel{
			.cd-image-container {
				> img {
				  	width: 100vw;
				  	height: auto;
				}
			}

			.cd-resize-img {
				> img{
					width: 100vw;
					height: auto;
				}
			}
		}

		#what-we-do{
			#what-we-do-clouds{
				width: 400px;
				height: 94px;
			}
		}

		#first-mover{
			.first-mover-item{
				&.butterfly{
					.first-mover-image-col{
						&:before{
							width: 157px;
							height: 137px;
							margin-top: 30px;
							margin-left: -15px;
						}
					}
				}

				&.cloud{
					.first-mover-image-col{
						&:before{
							// width: 450px;
							// height: 106px;
							width: 380px;
							height: 90px;
							top: 0;
							right: 0;
							margin-top: 20px;
							margin-right: -20px;
						}
					}
				}

				&.wind-turbine{
					.first-mover-image-col{
						&:after{
							width: 220px;
							height: 316px;
							margin-bottom: -60px;
							margin-right: -20px;
						}
					}
				}

				&.sun{
					.first-mover-image-col{
						&:before{
							width: 229px;
							height: 219px;
							margin-top: 0;
							margin-right: -60px;
						}
					}
				}

				.first-mover-content{
					// padding-left: 54px;

					.first-mover-title{
						// margin-top: 64px;
					}
				}
			}
		}
	}

	#careers-page{
		.position-panel-group{
			.panel{
				.panel-heading{
					.panel-title{
						.position-title-col{
							> a{
								&:after{
									display: inline-block;
									vertical-align: text-bottom;
									margin-left: 8px;
									position: static;
								}

								.position-title{
									padding-right: 0;
								}

								.position-location{
									font-size: 16px;
									display: inline-block;
									vertical-align: bottom;
									margin-left: 4px;
									margin-bottom: 2px;
								}
							}
						}
					}
				}

				.panel-collapse{
					.panel-body{
						padding: 0 70px 50px;
					}
				}
			}
		}
	}
}

@media (min-width: @screen-lg-min){
	#home-page{
		// #slide-panel{
		// 	.cd-image-container {
		// 		> img {
		// 		  	width: 100vw;
		// 		  	height: auto;
		// 		}
		// 	}

		// 	.cd-resize-img {
		// 		> img{
		// 			width: 100vw;
		// 			height: auto;
		// 		}
		// 	}
		// }

		#what-we-do{
			#what-we-do-clouds{
				width: 459px;
				height: 108px;
			}
		}

		#first-mover{
			.first-mover-item{
				&.butterfly{
					.first-mover-image-col{
						&:before{
							width: 157px;
							height: 137px;
							margin-top: 30px;
							margin-left: -40px;
						}
					}
				}

				&.cloud{
					.first-mover-image-col{
						&:before{
							// width: 450px;
							// height: 106px;
							top: 0;
							right: 0;
							margin-top: 20px;
							margin-right: -20px;
						}
					}
				}

				&.wind-turbine{
					.first-mover-image-col{
						&:after{
							// width: 277px;
							// height: 401px;
							margin-bottom: -60px;
							margin-right: -20px;
						}
					}
				}

				&.sun{
					.first-mover-image-col{
						&:before{
							width: 229px;
							height: 219px;
							margin-top: 0;
							margin-right: -60px;
						}
					}
				}
			}
		}
	}
}

@media(min-width: @screen-xlg-min){
	.container{
		width: 1200px;
	}

	#home-page{
		#splashscreen{
			> img{
				height: 75px;
				margin: -36px auto 0;
			}
		}
	}
}

@media(min-width: @screen-xxlg-min){
	// #home-page{
	// 	#slide-panel{
	// 		.cd-image-container {
	// 			> img {
	// 			  	width: 100vw;
	// 			  	height: auto;
	// 			}
	// 		}

	// 		.cd-resize-img {
	// 			> img{
	// 				width: 100vw;
	// 				height: auto;
	// 			}
	// 		}
	// 	}
	// }
}