/*
Theme Name: IES
Theme URI:
Author: IES
Author URI:
Description: The theme for Impact Electron Website.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:
Text Domain: IES

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@import "style.less";

@font-face {
    font-family: 'Kanit';
    src: url('./fonts/kanit/kanit-regular.eot');
    src: url('./fonts/kanit/kanit-regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/kanit/kanit-regular.woff2') format('woff2'),
         url('./fonts/kanit/kanit-regular.woff') format('woff'),
         url('./fonts/kanit/kanit-regular.svg#kanitregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('./fonts/kanit/kanit-medium.eot');
    src: url('./fonts/kanit/kanit-medium.eot?#iefix') format('embedded-opentype'),
         url('./fonts/kanit/kanit-medium.woff2') format('woff2'),
         url('./fonts/kanit/kanit-medium.woff') format('woff'),
         url('./fonts/kanit/kanit-medium.svg#kanitmedium') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('./fonts/kanit/kanit-light.eot');
    src: url('./fonts/kanit/kanit-light.eot?#iefix') format('embedded-opentype'),
         url('./fonts/kanit/kanit-light.woff2') format('woff2'),
         url('./fonts/kanit/kanit-light.woff') format('woff'),
         url('./fonts/kanit/kanit-light.svg#kanitlight') format('svg');
    font-weight: lighter;
    font-style: normal;
}

body{
	font-family: 'Kanit', sans-serif;
	font-weight: normal;
	// font-weight: 300;
}

.btn{
	font-weight: bold;
	// font-weight: 500;

	&.link-btn{
		font-weight: normal;
		// font-weight: 300;
	}
}

.modal{
	.modal-dialog{
		.modal-content{
			.modal-header{
				.modal-title{
					font-weight: bold;
					// font-weight: 500;
				}

				.close{
					font-size: 36px;
					font-weight: normal;
					// font-weight: 300;
					line-height: 18px;
				}
			}
		}
	}
}

.title-1{
	font-weight: bold;
	// font-weight: 500;
}

.text-normal{
	font-weight: normal;
	// font-weight: 300;
}

.text-bold{
	font-weight: bold;
	// font-weight: 500;
}

.qtranxs-lang-menu{
	.qtranxs-lang-menu-item{
		&.active{
			> a{
				font-weight: bold;
				// font-weight: 400;
			}
		}
	}
}

#header-panel{
	> .navbar{
		#menu-main-menu{
			.menu-item{
				&.active{
					> a{
						font-weight: bold;
						// font-weight: 500;
					}
				}

				> a{
					font-weight: normal;
					// font-weight: 300;
				}
			}
		}
	}
}

.page-title{
	font-weight: bold;
	// font-weight: 500;
}

.section-title{
	font-weight: bold;
	// font-weight: 400;

	&.extra-small{
		font-weight: normal;
		// font-weight: 300;
	}
}

#home-page{
	#slide-panel{
		#slide-content-container{
			.slide-content{
				.title{
					font-weight: bold;
					// font-weight: 500;
				}
			}
		}
	}

	#what-we-do{
		#project-type-list{
			.project-type{
				.project-type-title{
					font-weight: bold;
					// font-weight: 500;
				}

				.project-type-link{
					font-weight: bold;
					// font-weight: 400;
				}
			}
		}
	}

	#first-mover{
		.first-mover-item{
			.first-mover-content{
				.first-mover-title{
					font-weight: bold;
					// font-weight: 500;
				}
			}
		}
	}
}

#about-page{
	.staff-list{
		&.management{
			> li{
				.name{
					font-weight: bold;
					// font-weight: 500;

					.lastname{
						&:after{
							top: 6px;
						}
					}
				}
			}
		}
	}

	#ies-in-number{
		.section-title{
			font-weight: bold;
			// font-weight: 500;
		}

		.magic-number-box{
			.magic-number{
				font-weight: bold;
				// font-weight: 400;
				font-size: 40px;
			}
		}
	}
}

#ies-in-number{
	.section-title{
		font-weight: bold;
		// font-weight: 500;
	}

	.magic-number-box{
		.magic-number{
			font-weight: bold;
			// font-weight: 500;
		}
	}
}

#careers-page{
	#open-position{
		.job-content-title{
			font-weight: bold;
			// font-weight: 500;
		}
	}

	.position-panel-group{
		.panel{
			.panel-heading{
				.panel-title{
					.position-title-col{
						> a{
							font-weight: bold;
							// font-weight: 500;

							.position-location{
								font-weight: normal;
								// font-weight: 300;
							}
						}
					}
				}
			}
		}
	}
}

#footer-panel{
	#footer-body-panel{
		#company-footer-panel{
			.company-title-footer{
				font-weight: bold;
				// font-weight: 500;
			}
		}

		.footer-col-title{
			font-weight: bold;
			// font-weight: 500;
		}
	}
}

#download-factsheet-dialog{
	.modal-dialog{
		.modal-content{
			.modal-body{
				.col-title{
					font-weight: bold;
					// font-weight: 500;
				}

				.factsheet-list{
					font-weight: bold;
					// font-weight: 500;

					.factsheet-files{
						> li{
							> a{
								font-weight: normal;
								// font-weight: 300;
							}
						}
					}
				}
			}
		}
	}
}

#contact-page{
	#contact-intro{
		#or-text{
			font-weight: bold;
			// font-weight: 500;
		}
	}

	#contact-info-panel{
		.contact-content-label{
			font-weight: bold;
			// font-weight: 500;
		}
	}
}

label{
	font-weight: normal;
	// font-weight: 300;
}

#single-staff-page{
	.profile-name{
		font-weight: bold;
		// font-weight: 500;
	}

	.profile-content-title{
		font-weight: bold;
		// font-weight: 500;
	}
}

.project-list{
	&.timeline{
		> li{
			.project-content{
				.project-title{
					font-weight: bold;
					// font-weight: 500;
				}
			}
		}
	}

	> li{
		.project-content{
			.project-title{
				font-weight: bold;
				// font-weight: 500;
			}
		}
	}
}

.news-list{
	&.feature{
		.news-item{
			.news-title{
				font-weight: bold;
				// font-weight: 500;
			}
		}
	}

	&.grid{
		> li{
			&.news-item{
				.news-title{
					font-weight: bold;
					// font-weight: 500;
				}
			}
		}
	}
}

#single-news-page{
	.post{
		.post-heading{
			.post-title{
				font-weight: bold;
				// font-weight: 500;
			}
		}
	}
}

#project-filters{
	> li{
		> a{
			line-height: 48px;

			> .content{
				font-weight: bold;
				// font-weight: 400;
			}
		}
	}
}

.owl-carousel{
	.owl-nav{
		.slide-num{
    		margin: -3px 0 0;
    	}
   	}
}

.staff-voice-list{
	.staff-voice{
		.profile-content{
			.name{
				font-weight: bold;
				// font-weight: 500;
			}
		}
	}
}

.ies-form{
	.form-header{
		.title{
			font-weight: bold;
			// font-weight: 500;
		}
	}
}

#thankyou-page{
	.thankyou-title{
		font-weight: bold;
		// font-weight: 500;
	}
}

@media (min-width: @screen-sm-min) {
	#header-panel{
		> .navbar{
			#menu-main-menu{
				.menu-item{
					+ .menu-item{
						margin-left: 10px;
					}

					&.active{
						> a{
							font-weight: bold;
							// font-weight: 500;
						}
					}
				}
			}
		}
	}

	#home-page{
		#what-we-do{
			#project-type-list{
				.project-type{
					.project-type-title{
						font-weight: bold;
						// font-weight: 500;
					}

					.project-type-link{
						font-weight: bold;
						// font-weight: 400;
					}
				}
			}
		}

		#customer-trust{
			.testimonial{
				.customer-profile{
					.name{
						font-weight: bold;
						// font-weight: 500;
					}
				}
			}
		}
	}

	#about-page{
		.staff-list{
			&.management{
				> li{
					.name{
						font-size: 20px;
					}

					.position{
						font-size: 18px;
					}
				}
			}
		}
	}

	.news-list{
		&.feature{
			.news-item{
				.news-title{
					font-size: 32px;
					font-weight: bold;
					// font-weight: 500;
				}
			}
		}

		&.grid{
			> li{
				&.news-item{
					.news-title{
						font-weight: bold;
						// font-weight: 500;
					}
				}
			}
		}
	}

	#careers-page{
		#open-position{
			.job-content-title{
				font-weight: bold;
				// font-weight: 500;
			}
		}
	}
}